
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2>Attendance </h2>
        </div>
        <!-- <div class="col-md-6">
            <br>
            <button type="button" class="btn btn-info add" (click)="add()">Add&nbsp;<i class="fa fa-plus"></i></button>
        </div> -->
    </div>
    <br>
    <!-- <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Check In</th>
                        <th>Check In Image</th>
                        <th>Check out</th>
                        <th>Check out Image</th>
                        <th>Shift Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Jhon</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mary</td>
                        <td>john@example.com</td>
                        <td>Jhon</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>Jhon</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <input type="file" #fileInput (change)="fileChoose($event)" class="custom-file-input" id="customFile" ([ngModel])="file" multiple="false" accept=".xlsx" >
    <br>
    <button class="btn btn-success" (click)="import()">Import</button>
    <br>
    <small *ngIf="notExcelFile" [ngStyle]="{'color':'red'}">Kindly Select Excel type file</small>
    <div class="row">
        <div class="col-md-12">
            <table width="100%" class="table table-bordered">
                <thead>
                    <tr>
                        <th>EmployeeID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Total Days</th>
                        <th>Month</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees ">
                       
                        <td width="5%">{{employee.empid}}</td>
                        <td width="5%">{{employee.firstName}}</td>
                        <td width="5%">{{employee.lastName}}</td>
                        <td width="5%">{{employee.email}}</td>
                        <td width="5%">{{employee.mobile}}</td>
                        <td width="5%">{{employee.totalDays}}</td>
                        <td >{{employee.month}}</td>
                       
                        

                    </tr>
                   
                </tbody>
            </table>
            
        </div>
    </div>
</div>