<!-- 
<div class="container">
    <br>
    <h2 class="heading">Location Details</h2>
    <br>
    <div class="row">
        <div class="col-md-2">
            </div>
            <div class="col-md-8">
    <div class="card">
    <form action="" class="formbg">
      <div class="form-group">
        <label for="email">Client</label>
        <select class="form-control" id="sel1">
            <option>Client 1</option>
            <option>Client 2</option>
            <option>Client 3</option>
            <option>Client 4</option>
          </select>
      </div>
      <div class="form-group">
        <label for="pwd">Site</label>
        <select class="form-control" id="sel1">
            <option>Site 1</option>
            <option>Site 2</option>
            <option>Site 3</option>
            <option>Site 4</option>
          </select>
      </div>
      <div class="form-group">
        <label for="pwd">Zone</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter Zone" name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Block</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter Block" name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">floor</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter Floor" name="pwd">
      </div>
    </form>
    <button type="button" class="btn btn-success btns1">Save</button>&nbsp;
    <button type="button" class="btn btn-danger btns">Cancel</button>
    </div>
    </div>
  </div> -->




  <div class="head"><h1> Location Details</h1></div>

<div class="container">
    <div class="super_container" style="background-color:lightgray ;
    background-repeat: no-repeat; background-size: cover; position: static">
    <div class="body">
    <form [formGroup]="locationform" (ngSubmit)="onSubmit()">

            <div class="form-group col-5">
                <label>Client</label><br>
                <select formControlName="client" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.client.errors }">
                   
                    <option value="as">Asminds</option>
                    <option value="tvm">TVM infotech</option>
                    <option value="tcs">TCS</option>
                    <option value="hcl">HCL</option>
                </select>
                <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                    <div *ngIf="f.client.errors.required">Client is required</div>
                </div>
            </div><br>

            <div class="form-group col-5"> 
                <label>Site</label><br>
                <select formControlName="site" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site.errors }">
                   
                    <option value="s1">Site 1</option>
                    <option value="s2">Site 2</option>
                    <option value="s3">Site 3</option>
                    <option value="s4">Site 4</option>
                </select>
                <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                    <div *ngIf="f.site.errors.required">Site is required</div>
                </div>
            </div>    
<br>
                <div class="form-group col-5">
                    <label>Zone</label>
                    <input type="text" formControlName="zone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zone.errors }" />
                    <div *ngIf="submitted && f.zone.errors" class="invalid-feedback">
                        <div *ngIf="f.zone.errors.required">Zone is required</div>
                    </div>
                </div>
<br>
                <div class="form-group col-5">
                    <label>Block</label>
                    <input type="text" formControlName="block" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.block.errors }" />
                    <div *ngIf="submitted && f.block.errors" class="invalid-feedback">
                        <div *ngIf="f.block.errors.required">Block is required</div>
                    </div>
                </div>

                <div class="form-group col-5">
                    <label>floor</label>
                    <input type="text" formControlName="floor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.floor.errors }" />
                    <div *ngIf="submitted && f.floor.errors" class="invalid-feedback">
                        <div *ngIf="f.floor.errors.required">Floor is required</div>
                    </div>
                </div>
            <br>

            <div class="text-center">
                <button [disabled]='!locationform.valid' class="btn btn-success" type="submit">Save</button> &nbsp;
                &nbsp; &nbsp; &nbsp; <button class="btn btn-danger" type="reset">Cancel &nbsp; &nbsp; </button>
            </div>
            </form>

    </div>