<div align="center">
  

<mat-card class= "tp-card"  >
  <div align="center"><h1>TASKFLOW</h1></div>
	<mat-card-header >
	   <!-- <div mat-card-avatar class = "tp-header-image"></div> -->
	   <mat-card-title > &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;Login </mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div>
      User Name : <input type="text" name="username" [(ngModel)]="username">
      <br><br>
      Password : <input type="password" name="password" [(ngModel)]="password">
      <br><br>
      <button (click)=checkLogin() class="btn btn-success">
        Login
      </button>
    </div>
    <br>
   
    <br> &nbsp;
    <div *ngIf="invalidLogin" [ngStyle]="{'color':'red'}">INVALID CREDENTIALS</div>
     
  
	</mat-card-content>
	<!-- <mat-card-actions>
	   <button mat-button>LIKE</button>
	   <button mat-button>SHARE</button>
	</mat-card-actions> -->
 </mat-card>
</div>
 