.head{
  text-align: center;
  /* font-style: oblique;
  color: crimson; */
}
.ng-icon-sidebar {
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transition: 0.25s;
  z-index: 99999999;
}

.ng-icon-sidebar--closed {
  width: 65px;
}

.ng-icon-sidebar--opened {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 256px;
}