<div class="head"><h1> Site Details</h1></div>

<div class="container">
    <div class="super_container" style="background-color:lightgray ;
    background-repeat: no-repeat; background-size: cover">
    
    <form [formGroup]="siteform" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-5">
                <label>Select Client </label>
                <select formControlName="site" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site.errors }">
                   
                    <option value="asminds">Asminds</option>
                    <option value="tvm">TVM infotech</option>
                    <option value="tcs">TCS</option>
                    <option value="hcl">HCL</option>
                </select>
                <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                    <div *ngIf="f.site.errors.required">Client name is required</div>
                </div>
            </div>
      
            <br>
            
            <div class="form-group col-5">
                <label>Region</label>
                <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
                <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                    <div *ngIf="f.region.errors.required">Region is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Branch</label>
                <input type="text" formControlName="branch" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.branch.errors }" />
                <div *ngIf="submitted && f.branch.errors" class="invalid-feedback">
                    <div *ngIf="f.branch.errors.required">Branch is required</div>
                </div>
            </div>

            <div class="form-group col-3">
                <label>Site Name</label>
                <input type="text" formControlName="sitename" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sitename.errors }" />
                <div *ngIf="submitted && f.sitename.errors" class="invalid-feedback">
                    <div *ngIf="f.sitename.errors.required">Site name is required</div>
                </div>
            </div>
        </div>
            <br>
                <label><b><u>Address</u></b></label><br>
    
        
             
            <!-- <div class="form-row">
            <div class="form-group col-5">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-5">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="form-row">
                    <div class="form-group col-3">
                        <label>City</label>
                        <input type="number" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label>State</label>
                        <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"/>
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                    </div>
            
                    
                    <div class="form-group col-3">
                            <label>Pincode</label>
                            <input type="number" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                            <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                            </div>
                    </div>
                </div>
                        <!-- <div class="form-group col-5">
                            <label>Company Name</label>
                            <input type="text" formControlName="dep" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dep.errors }"/>
                            <div *ngIf="submitted && f.dep.errors" class="invalid-feedback">
                                <div *ngIf="f.dep.errors.required">Company Name is require</div>
                            </div>
                        </div> -->      
                
            

            <div class="text-center">
                <button [disabled]='!siteform.valid' class="btn btn-success" type="submit">Add</button> &nbsp;
                &nbsp; &nbsp; &nbsp; <button class="btn btn-danger" type="reset">Clear &nbsp; &nbsp; </button>
            </div>
        </form>
        </div>
