<div id="wrapper">

    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
                <!-- <img src="./assets/tvm.png" class="logo"/>  -->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-6QS8pYLQTsQXz8wtT-dQMNAnh-Hj594qxBvTVb__AbPtuaEe&usqp=CAU" class="logo"/> 
                
        </div>
        <ul class="sidebar-nav">
            <li routerLinkActive="active">
                        <a routerLink="/Dashboard"><i class="fa fa-tachometer"></i>Dashboard</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/Client"><i class="fa fa-home"></i>Client</a>
            </li>

            <li routerLinkActive="active">
                <a routerLink="/Employee"><i class="fa fa-user"></i>Employee</a>
            </li>

            <li routerLinkActive="active">
                <a routerLink="/Attendance"><i class="fa fa-file"></i>Attendance</a>
            </li>

            <li routerLinkActive="active">
                <a routerLink="/Sites"><i class="fa fa-plug"></i>Sites</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/Location"><i class="fa fa-line-chart"></i>Location</a>
            </li>
            

            <li routerLinkActive="active">
                <a routerLink="/Jobs"><i class="fa fa-wrench"></i>Jobs</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/Tickets"><i class="fa fa-bug"></i>Tickets</a>
            </li>

             <li routerLinkActive="active">
                <a routerLink="/Feedback"><i class="fa fa-comments"></i>Feedback</a>
            </li>


            

            

           

            
        </ul>
    </aside>




</div>