<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a href="#" mat-button class="log" (click)="logout()">
          <i class="fa fa-user user"></i> Logout</a>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>