<div class="container">
    <div class="row">
        
            <h2>Client Details</h2>
       
        <div class="col-md-3">
        <button (click)="exportAsXLSX()" class="btn btn-success">Export</button>&nbsp;
        
           
            <button type="button"  class="btn btn-success" (click)="add()">Add&nbsp;<i class="fa fa-plus"></i></button>
        </div>
    </div>
    <br>
    <div class="col-xs-3">
        
        <input class="form-control" type="text" 
        name="search" [(ngModel)]="searchText"
         autocomplete="off" placeholder="&#61442; 
          Start searching for a Client ">
          <div *ngIf="(clients | filter: searchText).length === 0">No matching records found</div>
        
      </div>
    
       <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <table width="100%" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ClientId</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>FirstName</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients | filter:searchText | paginate: { itemsPerPage: 5,totalItems: recordCount, currentPage: p }">
                        <td width="10%" >{{client.clientid}}</td>
                        <td width="10%" >{{client.clientName}}</td>
                        <td width="10%" >{{client.groupName}}</td>
                        <td width="10%" >{{client.firstName}}</td>
                        <td width="10%">{{client.email}}</td>
                        <td width="20%" >
                            <button *ngIf="!isEditable"  (click)="onEditClick()">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button *ngIf="!isEditable"  (click)="ondeleteClick(client.clientid)">
                                <mat-icon>delete</mat-icon>
                              </button>
                              </td>

                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>